@import "@app/styles/vars.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: end;
}

.logoutButton {
  box-shadow: none;
}

.avatar {
  background-color: rgba($color: $white, $alpha: 0.2);
}
