@import "@app/styles/vars";

.formItem {
  position: relative;
}

.label {
  position: relative;
  margin-right: $sp-2;
  line-height: 2em;

  span {
    position: absolute;
    display: inline-block;
    color: $error;
    transform: translateX(-150%);
  }
}
